<div class="two-column-container">
    <mat-card class="myCard text-center">
        <mat-card-content>
            <h2 class="nombre">
                {{ producto.nombre}}
            </h2>
            <img src="{{ producto.imagen }}" mat-card-image class="myImage" height="400" />
            <h3>Descripción: {{ producto.descripcion }}</h3>
            <h3>Categorias: {{ producto.categorias }}</h3>
            <h3>Precio: ${{ producto.precio }}</h3>
            <h3>stock: {{ producto.stock }}</h3>
        </mat-card-content>
    </mat-card>
    <mat-toolbar class="toolbar-butons">
        <span class="spacer"></span>
        <button mat-raised-button color="warn" (click)="editProduct(productoId)" *ngIf="rol === 'Administrador'">
            Editar Producto
        </button>
        <span class="button-spacer"></span>
        <button mat-raised-button color="warn" (click)="deleteProducto(productoId)" *ngIf="rol === 'Administrador'">
            Eliminar Producto
        </button>
    </mat-toolbar>
</div>
