
.ul-items {
    display: flex;
    flex-direction: row;
    justify-content: right;
    list-style-type: none;
    margin: 0;
   
}
.items{
  flex-direction: row;
  width: 100%;
  align-content: end;
}

a{
  text-decoration: none;
  background-color: #f44336;
  color: white;
  padding: 10px;
  margin: 5px;
 border-radius: 5px;
}

a:hover a:active{
  color: lightgray;
}

.search{
  height: 100%;
  border: 5px;
}

.menuDos {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.mymenu {
  align-self: flex-end;
}



@media screen and (max-width: 860px) {
  .items{
    display: none;
  }
  }