<mat-toolbar class="barra" color="primary">
    <div class="menu">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
            routerLink="/login">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div>
        <span routerLink="">Portafolio de Productos</span>
    </div>
    <div class="items">
        <ul class="ul-items">
            <li>
                <a routerLink="">Agregar Productos</a>
            </li>
            <li>
                <a routerLink="">Crear Usuario</a>
            </li>
            <li>
                <a routerLink="">Logout</a>
            </li>
            <li>
                <input tipe="text" 
                (keyup.enter)="buscarProducto(txtBuscar.value)"
                placeholder="Buscar..."
                id="mySearch"
                #txtBuscar />
            </li>
        </ul>

    </div>
</mat-toolbar>