<div class="contendor">
    <mat-toolbar class="barra" color="primary">
        <button mat-icon-button class="example-icon"  aria-label="Example icon-button with menu icon" routerLink="/home">
            <mat-icon >menu</mat-icon>
        </button>
        <span >Portafolio de Productos</span>
        
        <span class="example-spacer"></span>
        <button mat-raised-button color="warn" routerLink="/productos">
            Agregar Productos
        </button>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
        </button>
    </mat-toolbar>
</div>